# User's Makefile
Makefile

# Manifest files
Manifest.toml

# Side files when generating documentation
docs/build

# Any plot in the root
/*.pdf
/*.svg
/*.gif
/*.png

# Jupyter checkpoints
.ipynb_checkpoints
